meshes/diamond/diamond_h0.07.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.00625.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.0125.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.0175.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.035.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.00875.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.025.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.05.npy filter=lfs diff=lfs merge=lfs -text
meshes/diamond/diamond_h0.1.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.00875.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.0125.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.0175.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.1.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.2.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.00625.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.025.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.035.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.05.npy filter=lfs diff=lfs merge=lfs -text
meshes/bump/bump_h0.07.npy filter=lfs diff=lfs merge=lfs -text
